  html {
    font-family: sans-serif;
    background: #ecc19c;
  }
  .para{
    color: #6555f9;
    font-weight: bold;
  }

  .inbox {
    max-width: 400px;
    margin: 50px auto;
    background: #1eb9b2;
    border-radius: 5px;
    box-shadow: 10px 10px 0 rgba(0,0,0,0.1);
  }
   

  .item {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #fff;
  }

  .item:last-child {
    border-bottom: 0;
  }


  input:checked + p {
    background: #000;
    text-decoration: line-through;
  }

  input[type="checkbox"] {
    margin: 20px;
  }

  p {
    margin: 0;
    padding: 20px;
    transition: background 0.2s;
    flex: 1;
    font-family: 'helvetica neue';
    font-size: 20px;
    font-weight: 200;
    color: #fff;
    border-left: 2px solid #000;
  }